body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: rgb(20, 20, 20);
  color: #fefefe;
  font-family: "Ubuntu", sans-serif;
}

a {
  text-decoration: none;
  color: #fefefe;
}

.wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0088cc2e;
  padding: 30px;
  border-radius: 50px;
  margin: 15px;
  opacity: 0;
  transition: all 0.3s ease-in;
}

.wrapper-vertical {
  display: flex;
  justify-content: center;
  height: 80vh;
  align-items: center;
}

.btn {
  cursor: pointer;
  display: block;
  padding: 10px;
  border: 1px solid #0088cc;
  border-radius: 10px;
  transition: all 0.25s;
}

.btn:hover {
  background-color: #0088cc;
}
